/* Global Settings */
:root {
    --color1: #713CEF;
    --color2: #EFEFF5;
    --color3: #2d383d;
    --color4: #B1B2C3;
    --color5: #C4ACFC;
    --color6: #546C7C;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, cursive, sans-serif;
    background-color: var(--color6);
}

.app-container {
    width: 400px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
}

.banner {
    background-color: var(--color1);
    width: 100%;
    text-align: center;
    color: var(--color2);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 85%;
}
form input, form button {
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color1);
    margin: 0;
}

form input {
    width: 80%;
    background: inherit;
}

form input::placeholder {
    color: var(--color4);
    font-size: 1rem;
}
form input:focus {
    outline: none;
}

form button {
    font-weight: bold;
    color: var(--color1);
    transition: all 0.4s ease-in;
}

form button:hover {
    background-color: var(--color1);
    color: #fff;
    border-radius: 5px;
}

form button:focus {
    outline: none;
}

.buttonFocus {
    background-color: var(--color1);
    color: #fff;
    border-radius: 5px;
}

.off-display {
    display: none;
}

.todo-container {
    width: 100%;
}
.todo-lists {
    padding: 0;
    list-style: none;
}
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1.2rem;
}
.todo li {
    flex: 1;
    padding-left: 1rem;
    font-size: 1rem;
}

.statusBtn, .starBtn, .checkBtn {
    border: none;
    color: var(--color4);
    outline: none;
}
.statusBtn, .checkBtn {
    margin-left: 1rem;
    color: #1f1f1f;
}
.starBtn {
    margin-right: 2rem;
}

.toggleStar {
    color: gold;
}

.fas {
    pointer-events: none;
}

.complete {
    text-decoration: line-through;
    opacity: 0.5;
}

.resolveBtn {
    border: none;
    background-color: rgb(224, 222, 222);
    color: var(--color1);
    border-radius: 10px;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.3rem 0.6rem;
    outline: none;
    cursor: pointer;
}